<!DOCTYPE HTML>

<html>
	<head>
		<title>Peers  Review</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="index.html">Navigation Bar</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="index.html">Home</a></li>
						     <li><a href="login.html">Login</a></li>
						     <li><a href="register.html">Register</a></li>
						     <li><a href="submit.html">Submit</a></li>
						      
							
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>Welcome to the Peers Review Website!</h2>
							<p>This is a website of inclusion and diversity!<br />

							In order to receive academic assistances from various peers, you must first review the work of various others!</p>
						</header>
						<span class="image"><img src="images/pic01.jpg" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="images/pic02.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="col-4 col-12-medium">
									<header>
										<h2>About</h2>
										<p>Nascetur eu nibh vestibulum amet gravida nascetur praesent</p>
									</header>
								</div>
								<div class="col-4 col-12-medium">
									<p>Feugiat accumsan lorem eu ac lorem amet sed accumsan donec.
									Blandit orci porttitor semper. Arcu phasellus tortor enim mi
									nisi praesent dolor adipiscing. Integer mi sed nascetur cep aliquet
									augue varius tempus lobortis porttitor accumsan consequat
									adipiscing lorem dolor.</p>
								</div>
								<div class="col-4 col-12-medium">
									<p>Morbi enim nascetur et placerat lorem sed iaculis neque ante
									adipiscing adipiscing metus massa. Blandit orci porttitor semper.
									Arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer
									mi sed nascetur cep aliquet augue varius tempus. Feugiat lorem
									ipsum dolor nullam.</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>



			<!-- Four -->
				<section id="two" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>This is a token system!</h2>
							<p>It takes 2 tokens for you to let two others to edit your essay, and you earn 1 token for editing another peer's! </p>
						</header>
						<div class="box alt">
							<div class="row gtr-uniform">
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon alt major fa-area-chart"></span>
									<h3>Math Papers/Proofs!</h3>
									<p>If math is your strength and you are interested in helping others with your unparalleled math skills, Select "Math" as a topic on the submit page, and starting helping others to earn tokens!
									</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon alt major fa-comment"></span>
									<h3>Comments!!</h3>
									<p>Another peer would DIRECTLY communicate and change your essay! It is fast and reliable!</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon alt major fa-flask"></span>
									<h3>Science Lab Reports/Research Paper</h3>
									<p>If science is your strength and you are interested in helping others with your unparalleled science skills, Select "Science" as a topic on the submit page, and starting helping others to earn tokens!</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon alt major fa-paper-plane"></span>
									<h3>English/Literature </h3>
									<p>If English/Lit is your strength and you are interested in helping others with your unparalleled English skills, Select "English" as a topic on the submit page, and starting helping others to earn tokens!</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon alt major fa-file"></span>
									<h3>Humanities</h3>
									<p>If humanities are your strength and you are interested in helping others with your unparalleled humanities skills, Select "Humanities" as a topic on the submit page, and starting helping others to earn tokens!</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon alt major fa-lock"></span>
									<h3>Security</h3>
									<p>This website is secured --- We do not disclose your personal information with any other 3rd parties!</p>
								</section>
							</div>
						</div>
						<footer class="major">
							<ul class="actions special">
								<li><a href="submit.html" class="button">Start editing!</a></li>
							</ul>
						</footer>
					</div>
				</section>

			<!-- Five -->
				<section id="three" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>First Time Here?</h2>
							<p>Get yourself registered as a peer editer by clicking the button below!</p>
						</header>
						
							<div class="row gtr-uniform gtr-50">
								
								<form method="get" action="register.html" class="cta">
    								<button type="submit">Get Registered</button>
								</form>
							</div>
						
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="copyright">
						<li>&copy; Peers Review Limited. All rights reserved.</li><li>Design: <a href="https://www.youtube.com/channel/UCa2vu5HeR9Of9wYDQb6bq-w">Dr. Davidia</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>