<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Peer Editing Guidelines</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    


<h2><a name='grid'></a>Criteria grid</h2>
A criteria grid is useful to assist students in recognizing and constructing assertion-plus-evidence arguments. Fuller responses may be obtained by leaving more space in the &quot;Reader&#039;s Comments&quot; column and soliciting specifics from the reviewers. The grid can be available online through a website or set up in MS Word or Excel as a table.<br />
<br />
Examples of criteria grids can be found at the University of Hawaii at Manoa&#039;s <a href='http://manoa.hawaii.edu/mwp/program-research/writing-matters/wm-7' target='_blank'>Writing Center peer-review page</a>. <br />
<br />
<br />
<h2><a name='open'></a>Open-ended form</h2>
A list of open-ended questions can encourage students to provide more detailed feedback. Inform the students that the amount of space you leave for a response reflects the amount of information you are expecting.<br />
<br />
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^<br />
Author __________ Reviewer __________<br />
The goals of peer review are 1) to help improve your classmate&#039;s paper by pointing out strengths and weaknesses that may not be apparent to the author, and 2) to help improve editing skills.<br />
<br />
<strong>INSTRUCTIONS</strong><br />
Read the paper(s) assigned to you twice, once to get an overview of the paper, and a second time to provide constructive criticism for the author to use when revising his/her paper. Answer the questions below.<br />
<br />
<strong>ORGANIZATION (10%)</strong><br />
1) Were the basic sections (Introduction, Conclusion, Literature Cited, etc.) adequate? If not, what is missing?<br />
2) Did the writer use subheadings well to clarify the sections of the text? Explain.<br />
3) Was the material ordered in a way that was logical, clear, easy to follow? Explain. <br />
<br />
<strong>CITATIONS (20%)</strong><br />
4) Did the writer cite sources adequately and appropriately? Note any incorrect formatting.<br />
5) Were all the citations in the text listed in the Literature Cited section? Note any discrepancies.<br />
<br />
<strong>GRAMMAR AND STYLE (20%)</strong><br />
6) Were there any grammatical or spelling problems?<br />
7) Was the writer&#039;s writing style clear? Were the paragraphs and sentences cohesive?<br />
<br />
<strong>CONTENT (50%)</strong><br />
8) Did the writer adequately summarize and discuss the topic? Explain. <br />
9) Did the writer comprehensively cover appropriate materials available from the standard sources? If no, what&#039;s missing?<br />
10) Did the writer make some contribution of thought to the paper, or merely summarize data or publications? Explain.<br />
<br />
<br />
<br />
<h2>Reference</h2>
University of Hawaii at Manoa&#039;s Writing Program <a href='http://manoa.hawaii.edu/mwp/faculty/teaching-tips/syllabus-design/writing-activities/peer-review' >Peer Review Groups and Criteria Grids</a>.<br />
<br />
<br />
<br />
</body>